/* General */
body {
  min-height: 100vh;
  background: #161111;
  font-family: 'Inconsolata', monospace;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  color: rgb(245,169,71)!important;
}

a:hover {
  opacity: 0.78;
}


h1 {
  padding: 1.4rem 0.45rem;
  font-size: 2.8rem;
  color: rgb(80,182,207);
  text-align: center;
  font-weight: bolder;
}


.navbar {
  margin: 0;
  padding: 0;
}

#navbar {
  background: #191919;
  padding: 1.3rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(250, 250, 250, 0.8);
}

#navbar img {
  width: 100px;
}

.nav-item .nav-link {
  font-weight: 600;
  letter-spacing: 1pt;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(80,182,207);
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {

}

.card-body {
  color: #333;
}
